In [1]:
from xgboost import XGBClassifier
import xgboost as xgb

import pandas as pd 
import numpy as np

from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import StratifiedKFold

from sklearn.metrics import log_loss


from matplotlib import pyplot
import seaborn as sns
%matplotlib inline

In [2]:
from joblib import dump, load

X_train = load('./X_train.joblib_dat')
y_train = load('./y_train.joblib_dat')

In [3]:
xgb = XGBClassifier(
        learning_rate =0.1,
        n_estimators=699, 
        max_depth=6,
        min_child_weight=6,
        gamma=0,
        subsample=0.5,
        colsample_bytree=0.7,
        colsample_bylevel = 0.7,
        objective= 'multi:softprob',
        seed=3,
        num_class=2)

xgb.fit(X_train , y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=0.7,
       colsample_bytree=0.7, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=6, min_child_weight=6, missing=None, n_estimators=699,
       n_jobs=1, nthread=None, num_class=2, objective='multi:softprob',
       random_state=0, reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
       seed=3, silent=True, subsample=0.5)

In [4]:
X_test = load('./X_test.joblib_dat')
y_test = xgb.predict(X_test)
y_test

array([0, 0, 0, ..., 0, 0, 0])

In [6]:
np.unique(y_test)

array([0, 1])

array([0, 0, 0, ..., 0, 0, 0])

In [10]:
y_test.shape

(200000,)

In [11]:
dpath = '../../../data/customertransact/'
test = pd.read_csv(dpath +"test.csv")
test.head()

,ID_code,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,test_0,11.0656,7.7798,12.9536,9.4292,11.4327,-2.3805,5.8493,18.2675,2.1337,...,-2.1556,11.8495,-1.4300,2.4508,13.7112,2.4669,4.3654,10.7200,15.4722,-8.7197
1,test_1,8.5304,1.2543,11.3047,5.1858,9.1974,-4.0117,6.0196,18.6316,-4.4131,...,10.6165,8.8349,0.9403,10.1282,15.5765,0.4773,-1.4852,9.8714,19.1293,-20.9760
2,test_2,5.4827,-10.3581,10.1407,7.0479,10.2628,9.8052,4.8950,20.2537,1.5233,...,-0.7484,10.9935,1.9803,2.1800,12.9813,2.1281,-7.1086,7.0618,19.8956,-23.1794
3,test_3,8.5374,-1.3222,12.0220,6.5749,8.8458,3.1744,4.9397,20.5660,3.3755,...,9.5702,9.0766,1.6580,3.5813,15.1874,3.1656,3.9567,9.2295,13.0168,-4.2108
4,test_4,11.7058,-0.1327,14.1295,7.7506,9.1035,-8.5848,6.8595,10.6048,2.9890,...,4.2259,9.1723,1.2835,3.3778,19.5542,-0.2860,-5.1612,7.2882,13.9260,-9.1846

In [15]:
submission = test[["ID_code"]]
submission

            ID_code
0            test_0
1            test_1
2            test_2
3            test_3
4            test_4
5            test_5
6            test_6
7            test_7
8            test_8
9            test_9
10          test_10
11          test_11
12          test_12
13          test_13
14          test_14
15          test_15
16          test_16
17          test_17
18          test_18
19          test_19
20          test_20
21          test_21
22          test_22
23          test_23
24          test_24
25          test_25
26          test_26
27          test_27
28          test_28
29          test_29
...             ...
199970  test_199970
199971  test_199971
199972  test_199972
199973  test_199973
199974  test_199974
199975  test_199975
199976  test_199976
199977  test_199977
199978  test_199978
199979  test_199979
199980  test_199980
199981  test_199981
199982  test_199982
199983  test_199983
199984  test_199984
199985  test_199985
199986  test_199986
199987  test_199987
199988  test_199988
199989  test_199989
199990  test_199990
199991  test_199991
199992  test_199992
199993  test_199993
199994  test_199994
199995  test_199995
199996  test_199996
199997  test_199997
199998  test_199998
199999  test_199999

[200000 rows x 1 columns]

In [17]:
dfy_test = pd.DataFrame(y_test)
dfy_test.head()

   0
0  0
1  0
2  0
3  0
4  0

RangeIndex(start=0, stop=1, step=1)

In [21]:
dfy_test.columns = ["target"]
dfy_test.head()

   target
0       0
1       0
2       0
3       0
4       0

In [24]:
newResult = submission.join(dfy_test)
newResult.head()

  ID_code  target
0  test_0       0
1  test_1       0
2  test_2       0
3  test_3       0
4  test_4       0

In [27]:
newResult.shape

(200000, 2)

In [30]:
newResult.to_csv ("submission.csv")

In [31]:
newResult

            ID_code  target
0            test_0       0
1            test_1       0
2            test_2       0
3            test_3       0
4            test_4       0
5            test_5       0
6            test_6       0
7            test_7       0
8            test_8       0
9            test_9       0
10          test_10       0
11          test_11       0
12          test_12       0
13          test_13       0
14          test_14       0
15          test_15       0
16          test_16       0
17          test_17       0
18          test_18       0
19          test_19       0
20          test_20       0
21          test_21       0
22          test_22       0
23          test_23       0
24          test_24       0
25          test_25       0
26          test_26       0
27          test_27       0
28          test_28       0
29          test_29       0
...             ...     ...
199970  test_199970       0
199971  test_199971       0
199972  test_199972       0
199973  test_199973       0
199974  test_199974       0
199975  test_199975       0
199976  test_199976       0
199977  test_199977       0
199978  test_199978       0
199979  test_199979       0
199980  test_199980       0
199981  test_199981       0
199982  test_199982       0
199983  test_199983       0
199984  test_199984       0
199985  test_199985       0
199986  test_199986       1
199987  test_199987       0
199988  test_199988       0
199989  test_199989       0
199990  test_199990       0
199991  test_199991       0
199992  test_199992       0
199993  test_199993       0
199994  test_199994       0
199995  test_199995       0
199996  test_199996       0
199997  test_199997       0
199998  test_199998       0
199999  test_199999       0

[200000 rows x 2 columns]

In [33]:
newResult.index = newResult["ID_code"]
newResult

                 ID_code  target
ID_code
test_0            test_0       0
test_1            test_1       0
test_2            test_2       0
test_3            test_3       0
test_4            test_4       0
test_5            test_5       0
test_6            test_6       0
test_7            test_7       0
test_8            test_8       0
test_9            test_9       0
test_10          test_10       0
test_11          test_11       0
test_12          test_12       0
test_13          test_13       0
test_14          test_14       0
test_15          test_15       0
test_16          test_16       0
test_17          test_17       0
test_18          test_18       0
test_19          test_19       0
test_20          test_20       0
test_21          test_21       0
test_22          test_22       0
test_23          test_23       0
test_24          test_24       0
test_25          test_25       0
test_26          test_26       0
test_27          test_27       0
test_28          test_28       0
test_29          test_29       0
...                  ...     ...
test_199970  test_199970       0
test_199971  test_199971       0
test_199972  test_199972       0
test_199973  test_199973       0
test_199974  test_199974       0
test_199975  test_199975       0
test_199976  test_199976       0
test_199977  test_199977       0
test_199978  test_199978       0
test_199979  test_199979       0
test_199980  test_199980       0
test_199981  test_199981       0
test_199982  test_199982       0
test_199983  test_199983       0
test_199984  test_199984       0
test_199985  test_199985       0
test_199986  test_199986       1
test_199987  test_199987       0
test_199988  test_199988       0
test_199989  test_199989       0
test_199990  test_199990       0
test_199991  test_199991       0
test_199992  test_199992       0
test_199993  test_199993       0
test_199994  test_199994       0
test_199995  test_199995       0
test_199996  test_199996       0
test_199997  test_199997       0
test_199998  test_199998       0
test_199999  test_199999       0

[200000 rows x 2 columns]

In [35]:
newResult = newResult.drop("ID_code", axis = 1)
newResult

             target
ID_code
test_0            0
test_1            0
test_2            0
test_3            0
test_4            0
test_5            0
test_6            0
test_7            0
test_8            0
test_9            0
test_10           0
test_11           0
test_12           0
test_13           0
test_14           0
test_15           0
test_16           0
test_17           0
test_18           0
test_19           0
test_20           0
test_21           0
test_22           0
test_23           0
test_24           0
test_25           0
test_26           0
test_27           0
test_28           0
test_29           0
...             ...
test_199970       0
test_199971       0
test_199972       0
test_199973       0
test_199974       0
test_199975       0
test_199976       0
test_199977       0
test_199978       0
test_199979       0
test_199980       0
test_199981       0
test_199982       0
test_199983       0
test_199984       0
test_199985       0
test_199986       1
test_199987       0
test_199988       0
test_199989       0
test_199990       0
test_199991       0
test_199992       0
test_199993       0
test_199994       0
test_199995       0
test_199996       0
test_199997       0
test_199998       0
test_199999       0

[200000 rows x 1 columns]

In [36]:
newResult.to_csv("submission2_csv")